
/* Themes */

.themeDark {
  color: var(--text-blue);
}

.themeGrey {
  color: var(--grey-1);
}

.themeInvert {
  color: var(--colony-white);
}

.themeLightBlue {
  color: #91D2FA;
}

/* Sizes */

.sizeSmall {
  font-size: var(--size-small);
}

.sizeNormal {
  font-size: var(--size-normal);
}

.sizeMedium {
  font-size: var(--size-medium);
}

/* Default */

.main {
  composes: themeDark sizeNormal;
}
