@value mediumUp from '~styles/breakpoints.css';

.titleWrapper {
  margin-top: 74px;
}

.titleRuler {
  margin-top: 17px;
}

.titleWrapper + .astContent {
  margin-top: 50px;
}

.astContent {
  color: #00284B;
  font-family: 'Avenir Next Light';

  box-sizing: border-box;

  margin: 68px 0 0;
}

.astContent p {
  color: #2E4153;
  font-size: 15px;
}

.astContent table {
  border-collapse: collapse;
  max-width: 100%;
}

.astContent table thead {
  background: #F0F5F7;
}

.astContent table th,
.astContent table td {
  padding: .5rem .7rem calc(.5rem - 1px) .7rem;
}

.astContent table th:first-child,
.astContent table td:first-child {
  padding-left: 20px;
}

.astContent table th:last-child,
.astContent table td:last-child {
  padding-right: 20px;
}

.astContent table th {
  border: none;
  color: #5e6687;
  font-family: 'Avenir Next Demi';
  font-size: .8rem;
}

.astContent table td {
  border: none;
  font-family: 'Avenir Next Light';
  font-size: .85rem;
}

.astContent table tbody tr:nth-child(even) {
  background: rgba(240, 245, 247, 0.6);
}

.astContent pre {
  margin: 0 0 1.45rem 0;
  overflow-x: auto;
}

.astContent code {
  overflow-x: auto;
}

@media (mediumUp) {

  .titleWrapper {
    margin-top: 83px;
  }

  .astContent {
    margin-top: 83px;
  }

  .astContent p, .astContent ul {
    font-size: 16px;
  }

}
