.main {
  margin: 20px auto;
}

.address {
  align-items: center;
  display: flex;
}

.blockies {
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 2px;
}

.primaryAddress {
  color: #788CA0;
  font-size: 13px;
  font-style: italic;
  margin-top: 5px;
}

.primaryAddress div {
  margin-bottom: -5px;
  margin-top: -5px;
}

.loader {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-left: 10px;
}
