.address {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 24px auto;
}

.copyAddress {
  margin: 0 10px;
  width: 12px;
}

.copyAddress:hover {
  cursor: pointer;
}

.copyAddressSuccess span {
  color: #788CA0;
  font-size: 12px;
  position: absolute;
}

.blockies {
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 2px;
}
