@value mediumUp from '~styles/breakpoints.css';

.main {
  background-color: #021C2B;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 9.5%;
  max-width: 1200px;
  padding: 12px 0 11px;
  width: 100%;
  position: relative;
}

.logo {
  display: block;
  height: 33px;
  width: 134px;
}

.logo svg {
  fill: white;
  stroke: white;
}

.leftWrapper {
  display: inline-flex;
}

.network {
  display: none;
}

.navContainer {
  display: block;
  height: 0;
  visibility: hidden;
}

.navContainer[aria-expanded="true"] {
  height: auto;
  visibility: visible;
}

.navigation {
  margin-top: 28px;
}

.navLink {
  color: #ffffff;
  display: block;
  font-size: .9rem;
  margin-top: 12px;
  padding: 0 6px 12px;
}

.navLink:hover {
  color: #788CA0;
}

.dropdownParent {
  display: none;
}

.docsDropdownParent .docsDropdownContainer {
  display: none;
  visibility: hidden;
}

.searchContainer {
  display: none;
}

.dashboardButton {
  display: none;
}

.navToggle {
  position: absolute;
  right: 0;
  top: 19px;
}

@media (mediumUp) {
  .main {
    padding: 0;
  }

  .menuWrapper {
    align-items: center;
    flex-direction: row;
  }

  .network {
    align-items: center;
    color: #EEE;
    display: flex;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    padding: 5px 15px;
    margin-left: 50px;
    width: 240px;
  }

  .network:hover {
    cursor: default;
  }

  .networkDot {
    border: 5px solid;
    border-radius: 5px;
    height: 0;
    margin-right: 10px;
  }

  .navContainer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: auto;
    visibility: visible;
  }

  .navigation {
    display: flex;
    margin-top: 0;
    height: 50px;
  }

  .navigationHidden {
    composes: navigation;
    overflow: hidden;
    width: 0;
  }

  .navLink {
    display: inline-block;
  }

  .navLink + .navLink {
    margin-left: 30px;
  }

  .dropdownParent {
    display: block;
  }

  .docsDropdownParent .docsDropdownContainer {
    display: block;
  }

  .docsDropdownParent:hover .docsDropdownContainer,
  .docsDropdownParent:focus-within .docsDropdownContainer {
    visibility: visible;
  }

  .docsDropdownParent:focus-within {
    color: #788CA0;
  }

  .mobileDocsDropdown {
    display: none;
  }

  .searchContainer {
    display: flex;
    /*
     * Because search has to be lazy-loaded (use of `window`),
     * we must create a gap so popovers line up correctly
     * with parent nav items
     */
    min-width: 79px;
  }

  .dashboardButton {
    display: inline-flex;
    margin-left: 10px;
  }

}
