.main {
  background-position: center top;
  background-repeat: repeat-y;
  background-size: cover;
  margin-top: 132px;
  padding: 0 0 214px;
}

.contentWrapper {
  margin: 0 auto;
  max-width: 561px;
  text-align: center;
}

.iconRow {
  padding-top: 25px;
}

.iconRow svg {
  height: 40px;
  width: 40px;
  fill: #289BDC;
  stroke: #289BDC;
}

.iconItemLink + .iconItemLink {
  margin-left: 37px;
}
