.main {
  margin: 20px auto;
}

.loader {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin-right: 10px;
}

.confirmDelete {
  margin-right: 20px;
}

.error {
  color: red;
  font-size: 14px;
  font-style: italic;
  margin: 5px auto;
}
