@value verticalPadding: 180px;

.main {
  padding: calc(verticalPadding - 40px) 0 verticalPadding;
  position: relative;
}

.contentWrapper {
  margin: 0 auto;
  max-width: 561px;
  text-align: center;
}

.iconRow {
  padding-top: 5px;
}

.iconRow svg {
  height: 40px;
  width: 40px;
  fill: #289BDC;
}

.iconItemLink:hover svg {
  fill: #0D4E7B;
}

.iconItemLink + .iconItemLink {
  margin-left: 37px;
}
