@value smallDown from '~styles/breakpoints.css';

.main {
  font-family: 'Avenir Next Light';
  font-size: .9rem;
}

.metaNavLink + .metaNavLink {
  margin-left: 45px;
}

@media (smallDown) {
  .metaNav {
    display: flex;
    flex-direction: column;
  }

  .metaNavLink + .metaNavLink {
    margin-left: 0;
    margin-top: 15px;
  }
}
