
.main {
  display: flex;
  flex-direction: column;  
}

.row {
  display: flex;
}

.row > div:first-of-type {
  flex: 0 0 42%;
}

.row > div:nth-of-type(2) {
  flex: 1 0;
}

.imageContainer {
  align-items: center;
  background-color: var(--navy);  
  display: flex;
  justify-content: center;
  padding-left: var(--gutter-width);
  padding-right: 144px;
}

.image {
  height: auto;
  margin-bottom: 0;
  /* Negative margin to align better with adjacent text */
  margin-top: -47px;
  width: 232px;
}

.contentContainer {
  align-items: center;
  background-color: var(--blue-3);
  display: flex;
  padding-right: var(--gutter-width);
}

.contentInner {
  padding: 168px 0 200px 144px;
}

.body {
  margin-top: 50px;
}

.subTitleContainer {
  background-color: var(--blue-3);
  padding-left: var(--gutter-width);
  display: flex;
  align-items: center;
}

.subBodyContainer {
  padding: 103px var(--gutter-width) 45px 144px;
}
