@value gutterWidth: calc(calc(100% - var(--row-width-desktop)) / 2);

.main {
  display: flex;
  flex-direction: column;  
}

.row {
  display: flex;
}

.row > div:first-of-type {
  flex: 0 0 42%;
}

.row > div:nth-of-type(2) {
  flex: 1 0;
}

.imageContainer {
  align-items: center;
  background-color: var(--navy);  
  display: flex;
  justify-content: center;
  padding-left: gutterWidth;
  padding-right: 144px;
}

.image {
  height: auto;
  margin-bottom: 0;
  /* Negative margin to align better with adjacent text */
  margin-top: -47px;
  width: 232px;
}

.contentContainer {
  align-items: center;
  background-color: var(--blue-3);
  display: flex;
  padding-right: gutterWidth;
}

.contentInner {
  padding: 168px 0 200px 144px;
}

.body {
  margin-top: 50px;
}

.body p {
  margin-bottom: 0;
}

.subTitleContainer {
  background-color: var(--blue-3);
  padding-left: gutterWidth;
  display: flex;
  align-items: center;
}

.subBodyContainer {
  color: var(--text-blue);
  font-size: var(--size-medium);
  padding: 103px gutterWidth 45px 144px;
}

.subBodyContainer p {
  margin-bottom: 0;
}
