
@value mediumUp from '~styles/breakpoints.css';

.main {
  padding: var(--margin-huge) 0;
}

.row {
  margin: 0 auto;
  width: var(--row-width-desktop);
}

.cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (mediumUp) {
  .cols {
    flex-direction: row;
  }

  .colItem {
    flex: 0 0 28%;
  }

  .colItem:first-of-type {
    padding-left: 0;
  }

  .colItem:last-of-type {
    padding-right: 0;
  }
}
