.bodyText {
  font-family: 'Avenir Next Light';
  font-size: 16px;
}

.heroFeatureTextContainer {
  margin-top: 22px;
}

.heroFeatureText {
  composes: bodyText;
  color: #ffffff;
  margin-bottom: 18px;
}

.heroFeatureLink {
  composes: bodyText;
}
