
@value smallUp from '~styles/breakpoints.css';

@value horizontalMarginTiny: 6px;
@value horizontalMargin: 11px;
@value iconSizeTiny: 25px;
@value iconSize: 35px;

.socialIcon {
  display: inline-block;
  height: iconSizeTiny;
  margin: 0 horizontalMarginTiny;
  width: iconSizeTiny;
}

.inner {
  /* Negative margin for alignment with wrapping */
  margin: 0 calc(-1 * horizontalMarginTiny);
}

.socialIcon svg {
  height: iconSizeTiny;
  width: iconSizeTiny;
}

/* 
 * Themes
 */

.themeDark .socialIcon svg {
  fill: #A4B6C7;
}

.themeDark a:hover .socialIcon svg {
  fill: #788CA0;
}

.themeLight .socialIcon svg {
  fill: var(--grey-2);
}

.themeLight a:hover .socialIcon svg {
  fill: var(--navy);
}

.main {
  /* Default to dark theme */
  composes: themeDark;
}

@media (smallUp) {
  .socialIcon {
    height: iconSize;
    margin: 0 horizontalMargin;
    width: iconSize;
  }

  .socialIcon svg {
    height: iconSize;
    width: iconSize;
  }

  .inner {
    /* Negative margin for alignment with wrapping */
    margin: 0 calc(-1 * horizontalMargin);
  }
}
