@value mediumUp from '~styles/breakpoints.css';

.main {
  margin: 0 auto;
  max-width: 1035px;
  padding: 40px 0;
}

.main a {
  color: #289BDC;
}

.main a:hover {
  text-decoration: underline;
}

.main p {
  color: #A4B6C7;
  font-size: 16px;
}

.introSection {
  text-align: center;
}

.openSourceProductGrid {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.openSourceItem {
  padding: 86px 5% 0;
}

@media (mediumUp) {
  .openSourceProductGrid {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .openSourceItem {
    padding: 86px 0 0;
    width: 45%;
  }
}
