.main {
  margin: 0 auto;
  max-width: 985px;
  padding: 40px 0;
}

.main a {
  color: #289BDC;
}

.main a:hover {
  text-decoration: underline;
}

.main p {
  color: #A4B6C7;
  font-size: 16px;
}

.introSection {
  text-align: center;
}

.openSourceProductGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 90px;
}

.openSourceItem {
  padding: 0 2.5%;
  width: 45%;
}
