:global(.fonts-loaded) body {
  font-family: "Helvetica", "Arial", sans-serif;
}

:global(.fonts-loaded) body {
  font-family: "Avenir Next", "Helvetica", "Arial", sans-serif;
}

.gridContainer {
  display: grid;
  grid-template-rows: 80px auto auto;
  max-width: 100%;
  min-height: 100vh;
  width: 100vw;

  margin-top: 60px; /* BUG BOUNTY */

}

@media screen and (min-width: 1024px) {

  .gridContainer {
    grid-template-columns: auto 250px 1050px auto;
    grid-template-rows: 125px auto auto;
  }

}
