
.slideCanvas {
  background-color: var(--navy);
  flex: 1;
  height: 519px;
}

.slideActive {
  animation: fadeIn 0.25s ease-in;
  display: block;
  opacity: 1;
  height: 100%;
}

.slideInactive {
  animation: fadeOut 0.25s;
  display: none;
  opacity: 0;
}

.controls {
  display: flex;
}

.controlItem {
  flex: 1 0 50%;
}

.controlItem button {
  display: block;
  height: 100%;
}

.controlItem button:disabled {
  cursor: default !important;
}

.controlItem.active .controlItemInner {
  background-color: var(--blue-1);
  color: var(--colony-white);
}

.controlItem.active .controlItemInner a,
.controlItem.active .controlItemInner .controlHeading {
  color: var(--colony-white);
}

.controlItemInner {
  color: var(--grey-2);
  height: 100%;
  padding: 56px 70px;
  text-align: left;
}

.controlItemInner a,
.controlItemInner .controlHeading {
  color: var(--grey-2);
}

.controlItemInner .body {
  font-size: var(--size-normal);
}

.controlLink {
  margin-top: 20px;
}

/* animations */

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1;
  }
  1% {
    display: none;
    opacity: 1;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
