.main {
  font-size: 16px;
  min-height: 100vh;
  padding: 5%;
  width: 100vw;
}

.payment {
  margin: 0 auto;
  padding: 20px 0;
  width: 700px;
}

.field {
  padding: 10px 0;
}

.label {
  font-size: 15px;
}

.value {
  display: flex;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
  font-size: 15px;
}
