
.main {
  background-image: url('../../../../../../../static/img/cornerShapes.svg');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: auto 90%;
  padding: 200px 0;
  display: flex;
}

.row {
  margin: 0 auto;
  width: var(--row-width-desktop);
}

.contentContainer {
  margin-left: 87px;
  max-width: 570px;
}

.body {
  color: var(--text-blue);
  font-size: var(--size-normal);
}
