
@value mediumUp from '~styles/breakpoints.css';

.main {
  padding: var(--margin-huge) 0;
}

.row {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: var(--row-width-desktop);
}

.controls {
  flex: 0 0 calc(100% / 3);
  padding-right: 30px;
}

.canvas {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
}

.input {
  display: none;
  margin: 40px 0;
}

.link {
  color: var(--blue-1);
  font-size: var(--size-normal);
}

.link:hover {
  text-decoration: underline;
}

.slideImage {
  height: 400px;
}

@media (mediumUp) {
  .row {
    flex-direction: row;
  }
  
  .input {
    display: block;
  }
}
