
@value mediumUp from '~styles/breakpoints.css';

.main {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
}

.image {
  margin-bottom: 0;
  max-height: 98%;
  max-width: 95%;
}

@media (mediumUp) {
  .image {
    max-height: 90%;
  }
}
