.main {
  align-self: flex-start;
  margin-bottom: 40px;
}

.main button {
  display: block;
  text-align: left;
  width: 600px;
}

.question {
  font-family: 'Avenir Next Demi';
  font-size: 18px;
  padding: 18px 0;
}

.triangleRight {
  border-bottom: 5px solid transparent;
  border-left: 7px solid #00284B;
  border-top: 5px solid transparent;
  display: inline-block;
  height: 8px;
  margin-bottom: 2px;
  margin-left: 4px;
  margin-right: 10px;
  transition: 0.2s;
  width: 8px;
}

.triangleDown {
  composes: triangleRight;
  transform: rotate(90deg);
}

.answer {
  font-size: 16px;
  margin-bottom: 0;
  margin-left: 24px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.2s;
}

.answerActive {
  composes: answer;
  margin-bottom: 24px;
  max-height: 100px;
  opacity: 1;
}
