.main {
  cursor: pointer;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 16px;
  justify-content: center;
  font-family: 'Avenir Next Light';
  text-align: center;
  transition: 0.2s;
}

.primaryBase {
  composes: main;
  border: 1px solid #289BDC;
  min-width: 130px;
  padding: 3px 31px;
}

.themePrimary {
  composes: primaryBase;
  background-color: #289BDC;
  color: #ffffff;
}

.themePrimary:hover {
  background-color: transparent;
  color: #00284B;
}

.themePrimaryHollow {
  composes: primaryBase;
  background-color: transparent;
  color: #00284B;
}

.themePrimaryHollow:hover {
  background-color: #289BDC;
  color: #ffffff;
}

.themeReset {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
}

.themeReset:hover {
  text-decoration: none !important;
  cursor: pointer !important;
}