.main {
  display: flex;
  height: 100%;
}

.imageContainer {
  align-items: center;
  background-color: rgba(2, 28, 43, 0.6);
  display: flex;
  flex: 1 0 auto;
  height: 150px;
  justify-content: center;
  width: 150px;
}

.image {
  margin: 0;
  max-height: 70px;
  max-width: 70px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 50px;
}

.description {
  margin-top: 12px;
}

.itemLink + .itemLink {
  margin-left: 25px;
}
