
@value largeUp from '~styles/breakpoints.css';

.main {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
}

.image {
  display: block;
  width: 90%;
}

.handle {
  animation: shadow-pulse 1.2s infinite;
  cursor: pointer;
  opacity: 0;
}

/* animations */

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px var(--blue-1);
    opacity: 0.4;
  }
  100% {
    box-shadow: 0 0 0 25px var(--blue-1);
  }
}

@media (largeUp) {
  .image {
    width: 746px;
  }
}
