
.main {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  height: 100%;
}

.main svg {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  width: 746px;
}

.main .image svg :global circle.pulse {
  fill: black !important;
  stroke: black;
  animation: shadow-pulse 1s infinite;
  opacity: 0.2;
}

/* animations */

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px var(--blue-1);
  }
  100% {
    box-shadow: 0 0 0 35px var(--blue-1);
  }
}