@value mediumUp, largeUp from '~styles/breakpoints.css';

.main {
  background-color: #F0F5F7;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.homeLink {
  display: none;
  font-size: 14px;
}

.homeLink:hover {
  text-decoration: underline;
}

.projectTitle {
  display: block;
  margin-top: 23px;
  text-align: center;
}

.sectionTitle {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0;

  background-color: rgb(245, 245, 254);

  font-family: inherit;
  font-size: .8em;
  font-weight: 500;
  line-height: 100%;

  cursor: default;
}

.itemLink {
  display: block;
  padding: 4px 0;
  overflow: hidden;
  color: #2E4153;
  font-family: 'Avenir Next Light';
  text-decoration: none;
  text-overflow: ellipsis;
  transition: 0.2s;
}

.itemLink:hover {
  cursor: pointer;
}

.itemLink:hover,
.itemLink.active {
  color: #289BDC;
}

.backToTop {
  display: none;
}

@media (mediumUp) {

  .main {
    background-color: transparent;
    border-right: 1px solid #C8D2DC;
    width: 210px;
  }

  .homeLink {
    color: #289BDC;
    display: block;
    margin-top: 42px;
  }

  .projectTitle {
    margin-top: 78px;
    text-align: left;
  }

  .sectionTitle {
    padding-bottom: 2px;

    background: none;


    font-weight: 500;
  }

  .backToTop {
    display: block;

    position: sticky;
    top: 20px;

    margin-bottom: 60px;
  }

  .backToTop .itemLink {
    border: none;
    color: inherit;
    font-size: .75rem;
    background: none;
  }

  .backToTop .itemLink:hover {
    color: #289BDC;
  }

}

@media (largeUp) {
  .main {
    width: 270px;
  }
}

/* State */

.stateFromChild .menuContents {
  animation-duration: 0.75s;
  animation-name: fromChildSlideIn;
}

.stateFromParent .menuContents {
  animation-duration: 0.5s;
  animation-name: fromParentSlideIn;
}

/* Animations */

@keyframes fromChildSlideIn {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fromParentSlideIn {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  50% {
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
