pre[class*="language-"] {
  font-size: 16px !important; /* Sorry about that, all those external styles */
}

code[class*="language-"], pre[class*="language-"] {
  background: rgb(246, 249, 250);
  border-radius: 10px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
  "Liberation Mono", Menlo, Courier, monospace;
  font-size: inherit;
}

:global(.fonts-loaded) code[class*="language-"], pre[class*="language-"] {
  font-family: "Inconsolata", "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
}

pre[class*="language-"] .token.comment {
  color: #a6a8b1;
  font-style: italic;
}

pre[class*="language-"] .token.operator {
  color: #fa7ea5;
}

pre[class*="language-"] .token.string {
  color: #1B75AC;
}

pre[class*="language-"] .token.number {
  color: #19a582;
}

:global(.fonts-loaded) pre[class*="language-"] .token.comment {
  font-family: "Fantasque Sans Mono", monospace;
  font-size: 15px;
  font-style: italic;
}
