
@value largeUp, mediumUp from '~styles/breakpoints.css';

:root {
  /* colors */
  --blue-1: #289BDC;
  --blue-2: #91D2FA;
  --blue-3: #E9F6FF;
  --blue-4: #086DA6;
  --colony-black: #021C2B;
  --colony-white: #FFFFFF;
  --grey-1: #788CA0;
  --grey-2: #C8D2DC;
  --grey-3: #F0F5F7;
  --navy: #00284B;
  --pink-1: #FFBBDC;
  --pink-2: #FCF4F8;
  --text-blue: #2E4153;
  --yellow: #FAD250;

  /* containers */
  --row-width-mobile: 84vw;
  --row-width-desktop: 85vw;
  --row-width-desktop-narrow: 70vw;
  --row-width-desktop-wide: 92vw;
  
  /* Gutters */
  --gutter-width-mobile: calc((100vw - var(--row-width-mobile)) / 2);
  --gutter-width: calc((100vw - var(--row-width-desktop)) / 2);
  --gutter-width-narrow: calc((100vw - var(--row-width-desktop-narrow)) / 2);
  --gutter-width-wide: calc((100vw - var(--row-width-desktop-wide)) / 2);

  /* font-sizes */
  --size-extraSmall: 12px;
  --size-small: 11px;
  --size-normal: 12px;
  --size-medium: 12px;

  /* margins */
  --margin-small: 10px;
  --margin-medium: 30px;
  --margin-large: 40px;
  --margin-huge: 50px;
}

@media (mediumUp) {
  :root {
    --size-small: 13px;
    --size-normal: 16px;
    --size-medium: 20px;

    --margin-small: 20px;
    --margin-medium: 60px;
    --margin-large: 110px;
    --margin-huge: 140px;
  }
}

@media (largeUp) {
  :root {
    --row-width-desktop: 1170px;
    --row-width-desktop-narrow: 970px;
    --row-width-desktop-wide: 1370px;
  }
}