@value leftPadding: 100px;

.graphicRow {
  background-color: var(--navy);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 130px 0 0 leftPadding;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content > div {
  flex: 0 0 42%;
}

.image {
  margin: 20px 0 0 0;
}

.gridRow {
  display: flex;
  justify-content: space-between;
  padding: 73px 0 20px leftPadding;
}

.gridItem {
  flex: 0 0 30%;
}

.layoutHack {
  /* This block covers up the bottom part of the right-hand gutter */
  background-color: white;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  width: var(--gutter-width-narrow);
}
