.hero,
.rewards {
  align-items: center;
  background: #00284B;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  padding: 5% 10%;
}

.heroContent,
.rewardsContent {
  max-width: 600px;
  padding-bottom: 40px;
  padding-right: 40px;
}

.heroTitle,
.rewardsTitle {
  font-family: 'Avenir Next Demi';
  font-size: 40px;
}

.heroDescription,
.rewardsDescription {
  font-size: 18px;
  margin-bottom: 40px;
}

.heroImage {
  padding: 40px;
  width: 400px;
}

.overview {
  background: #F0F5F7;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.overviewItem {
  display: inline-block;
  font-size: 15px;
  padding: 40px 20px;
  width: 340px;
}

.overviewItem span {
  display: inline-block;
  padding: 10px;
}

.overviewItem span:first-child {
  font-family: 'Avenir Next Demi';
  font-size: 18px;
}

.section {
  margin: 80px auto;
  max-width: 720px;
}

.sectionContent {
  align-items: center;
  display: flex;
  justify-content: center;
}

.title {
  font-family: 'Avenir Next Demi';
  font-size: 36px;
}

.subtitle {
  font-family: 'Avenir Next Demi';
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.description {
  font-size: 16px;
}

.issues,
.moreWays {
  border: 0;
  font-size: 14px;
}

.issues tr,
.moreWays tr {
  border: 2px solid white;
}

.issues thead td {
  color: #788CA0;
  font-size: 12px;
  padding: 5px 10px;
}

.issues tbody td,
.moreWays tbody td {
  background: #F0F5F7;
  padding: 10px;
}

.moreWays tbody td {
  padding: 15px 20px;
}

.moreWays td:first-child {
  width: 160px;
}

.rewards {
  display: block;
  padding: 7.5%;
}

.rewardsContent {
  margin-left: 15%;
  max-width: 700px;
}

.rewardsTitle {
  color: #FAD250;
}

.rewardsDescription {
  font-size: 18px;
}

.rewardsItems {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.rewardsItem {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 500px;
}

.rewardsItemImage,
.rewardsItemText {
  display: inline-block;
  margin: 0;
  padding: 20px;
}

.rewardsItemImage {
  width: 160px;
}

.rewardsItemText {
  max-width: 400px;
}

.rewardsItem span {
  display: block;
  margin-bottom: 20px;
}

.rewardsItem span:first-child {
  color: #FAD250;
  font-family: 'Avenir Next Demi';
  font-size: 18px;
}

.rewardsItem span:last-child {
  font-size: 16px;
}

.faqImage {
  padding: 40px;
  width: 300px;
}
