.main {
    grid-column: 1 / span 4;

    box-sizing: border-box;
    padding: 50px 8px;
}

.content {
    composes: prettylink from '~styles/mixins.module.css';

    display: block;
}

a {
    text-decoration: none;
}

@media screen and (min-width: 1450px) {
    .content {
        max-width: 1450px;
        margin: 0 auto;
    }
}
