.main {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  padding: 30px;
}

.link {
  display: block;
  color: #2E4153;
  font-family: 'Avenir Next Demi';
  font-size: 18px;
  margin: 20px;
  transition: 0.2s;
}

.link:hover {
  cursor: pointer;
}

.link:hover {
  color: #289BDC;
}

.linkActive {
  composes: link;
  color: #289BDC;
}
