.main {
  color: #2E4153;
  font-size: 17px;
  padding: 5%;
}

.header {
  align-items: center;
  display: flex;
  padding-bottom: 5%;
}

.photo {
  border-radius: 50%;
  margin: 0;
  margin-right: 70px;
  width: 160px;
}

.statistic {
  display: inline-block;
  margin-right: 20px;
}

.statisticValue {
  margin-right: 10px;
}

.statisticLabel {
  font-family: 'Avenir Next Demi';
}

.content {
  border-top: 1px #C8D2DC solid;
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  padding-top: 5%;
}

.contentColumn:first-child {
  max-width: 300px;
  padding-right: 2%;
}

.field {
  width: 480px; /* Fixed width for button expansion */
}

.content input {
  margin-right: 20px;
  margin-bottom: 20px;
}

.contentTitle {
  color: #00284B;
  font-family: 'Avenir Next Demi';
  font-size: 24px;
}
