.main {
  background: #FFF;
  height: 100vh;
  padding: 5%;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
}

.photo {
  border-radius: 50%;
  margin: 0;
  margin-right: 30px;
  width: 120px;
}

.name {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 16px;
}

.address {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.blockies {
  border-radius: 50%;
  margin-right: 10px;
}

.statistics {
  margin-top: 5px;
}

.statistics span {
  margin: 5px auto;
  margin-right: 10px;
}
