
.main {
  padding: 90px 0 150px;
}

.innerContent {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: var(--row-width-desktop-narrow);
}

.contentContainer {
  flex: 0 0 40%;
}

.badgeGroups {
  align-items: flex-end;
  display: flex;
  flex: 0 0 60%;
  justify-content: flex-end;
}

.groupItem + .groupItem {
  margin-left: 28px;
}
