
@value mediumUp, largeUp from '~styles/breakpoints.css';

@value horizontalPadding: 36px;

.main {
  margin: 0 auto;
  max-width: var(--row-width-desktop);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 40px calc(-1 * horizontalPadding);
}

.gridItem {
  display: flex;
  flex: 0 0 100%;
  justify-content: space-between;
  padding: 25px horizontalPadding;
}

.image {
  height: auto;
}

.imageContainer {
  flex: 0 0 60px;
}

.bodyContainer {
  flex-basis: calc((100% - 60px) - 20px);
}

@media (mediumUp) {
  .gridItem {
    flex-basis: calc(100% / 2);
  }

  .image {
    width: 70px;
  }
}

@media (largeUp) {
  .grid {
    margin-bottom: 62px;
    margin-top: 62px;
  }

  .gridItem {
    display: block;
    flex-basis: calc(100% / 3);
    padding: 55px horizontalPadding;
  }

  .image {
    height: 80px;
    width: auto;
  }
}
