@value borderRadius: 4px;
@value boxShadow: 0px 0px 10px rgba(120, 140, 160, 0.2);

@value mediumUp from '~styles/breakpoints.css';

.main {
  border-bottom: 1px solid #788CA0;
  cursor: default;
  padding: 15px 0;
  text-align: left;
}

.heroLink {
  display: none;
}

.hero {
  align-items: center;
  background-color: #ffffff;
  border-radius: borderRadius;
  box-shadow: boxShadow;
  display: none;
  padding: 15px;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: auto;
  margin: 0;
  padding: 0;
  width: 40px;
}

.cta {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 0 15px;
}

.heroLink:hover .hero {
  background-color: #00284B;
  box-shadow: boxShadow;
}

.heroLink:hover .logoContainer,
.heroLink:hover .cta {
  background-color: transparent;
  box-shadow: none;
}

.heroLink:hover .cta * {
  /* not the most elegant rule - need to override `Heading` colors on hover */
  color: #ffffff;
}

.menuContent {
  display: flex;
  justify-content: space-between;
}

.menuContent a {
  color: #ffffff;
}

.menuContent a:hover {
  text-decoration: underline;
}

.menuContainer {
  width: 50%;
}

@media (mediumUp) {
  .main {
    border-bottom: none;
    padding: 40px 40px 32px;
  }

  .heroLink {
    display: block;
  }

  .hero {
    display: flex;
  }

  .cta {
    min-width: 315px;
  }

  .menuContent {
    margin: 32px 0 0;
  }

  .menuContent a {
    color: #00284B;
  }
}
