
@value mediumUp, largeUp from '~styles/breakpoints.css';

.main {
  display: flex;
}

.imageContainer {
  background-color: var(--pink-2);
  display: none;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(var(--gutter-width) + 300px);
}

.imageContent {
  padding: 40px 0;
}

.image {
  width: 100%;
  max-height: 850px;
}

.contentContainer {
  background-color: var(--navy);
  flex: 1 0 0;
}

.content {
  padding: var(--margin-huge) var(--gutter-width) 100px var(--gutter-width);
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: var(--margin-large);
}

.stepItem {
  flex: 0 0 28%;
}

@media (mediumUp) {
  .imageContainer {
    display: block;
  }

  .content {
    padding: 130px 100px;
  }


  .titleContainer {
    width: 80%;
  }
}

@media (largeUp) {
  .steps {
    flex-direction: row;
  }
}
