.main {
  color: rgba(0, 0, 0, 0.8);
}

/* Margins */
.marginNone {
  /* Need to overwrite the size class */
  margin-bottom: 0 !important;
}

.marginTiny {
  margin-bottom: 4px;
}

.marginSmall {
  margin-bottom: 6px !important;
}

.marginDouble {
  margin-bottom: 40px;
}

/* Sizing */
.sizeTiny {
  font-size: 11px;
}

.sizeSmall {
  font-size: 12px;
}

.sizeNormal {
  font-size: 14px;
}

.sizeMedium {
  font-size: 18px;
  letter-spacing: .2px;
}

.sizeLarge {
  font-size: 28px;
}

.sizeHuge {
  font-size: 36px;
}

/* Themes */
.themeDark {
  color: #00284B;
}

.themeInvert {
  color: #ffffff;
}

.themeLight {
  color: #788CA0;
}

.themePrimary {
  color: #289BDC;
}

/* Weights */
.weightThin {
  font-family: 'Avenir Next Light';
}

.weightMedium {
  font-family: 'Avenir Next Demi';
}

.weightBold {
  font-weight: 500;
}
