.main {
  color: #ffffff;
  font-family: 'Avenir Next Light';
  margin-top: -20%;
  width: 500px;
}

.text {
  font-family: 'Avenir Next Demi';
  font-size: 18px;
  font-weight: bold;
  margin: 10px auto;
  padding: 0;
}

.field {
  margin: 20px 0;
}

.subtext {
  font-size: 12px;
  margin: 10px auto;
  padding: 0;
}
