@value textColor: #2E4153;

.main {
  border-right: 1px solid #C8D2DC;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5%;
}

.homeLink {
  display: none;
  font-size: 14px;
}

.sectionsList {
  margin: 5px 0 0 0;
  list-style: none;
  color: textColor;
}

.sectionItem {
  margin: 0 0 23px 0;
}

.sectionTitle {
  box-sizing: border-box;
  margin: 0;
  padding: 15px 0;

  background-color: rgb(245, 245, 254);

  font-family: inherit;
  font-size: .8em;
  font-weight: 500;
  line-height: 100%;

  cursor: default;
}

.docsList {
  margin: 8px 0 0 0;
  list-style: none;
}

.docsItem {
  margin: 0;
}

.itemLink {
  display: block;
  padding: 4px 15px;
  overflow: hidden;
  color: textColor;
  font-family: 'Avenir Next Light';
  text-decoration: none;
  text-overflow: ellipsis;
  transition: 0.2s;
}

.itemLink:hover {
  cursor: pointer;
}

.itemLink:hover,
.itemLink.active {
  color: #289BDC;
}

.backToTop {
  display: none;
}

@media screen and (min-width: 850px) {

  .main {
    width: 250px;
  }

  .homeLink {
    color: #289BDC;
    display: block;
    margin-top: 42px;
  }

  .projectTitle {
    margin-top: 78px;
  }

  .sectionsList {
    margin-top: 18px;
  }

  .sectionTitle {
    padding-bottom: 2px;

    background: none;


    font-weight: 500;
  }

  .docsList {
    /* Use of `important` is to override `normalize.css` */
    margin-bottom: 48px !important;
  }

  .docsItem {
    font-size: .85em;

    font-weight: normal;
  }

  .itemLink {
    padding: 4px 0;
    font-weight: 400;
  }

  .backToTop {
    display: block;

    position: sticky;
    top: 20px;

    margin-top: 30px;
    margin-bottom: 60px;
  }

  .backToTop .itemLink {
    border: none;
    color: inherit;
    font-size: .75rem;
    background: none;
  }

  .backToTop .itemLink:hover {
    color: rgb(105, 220, 210);
  }

}
