@value smallDown from '~styles/breakpoints.css';
@value mediumDown from '~styles/breakpoints.css';
@value largeDown from '~styles/breakpoints.css';

.menu {
  font-family: 'Avenir Next Light';
}

.menuItem {
  display: block;
  white-space: nowrap;
}

/* Margins */
.marginsNone .menu {
  column-gap: 0;
}

.marginsNone .menuItem {
  line-height: inherit;
}

.marginsSmall .menu {
  column-gap: 45px;
  margin-top: 10px;
}

.marginsSmall .menuItem {
  line-height: 35px;
}

.marginsLarge .menu {
  column-gap: 95px;
  margin-top: 18px;
}

.marginsLarge .menuItem {
  line-height: 51px;
}

/* Expand for Viewport */

@media (smallDown) {
  .expandForViewportSmall .menu {
    /* `important` used to override inline styles */
    column-count: 1 !important;
  }
}

@media (mediumDown) {
  /* `important` used to override inline styles */
  .expandForViewportMedium .menu {
    column-count: 1 !important;
  }
}

@media (largeDown) {
  /* `important` used to override inline styles */
  .expandForViewportLarge .menu {
    column-count: 1 !important;
  }
}
