@value gridItemPadding: 10px;

.main {
  padding: 145px 0;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.gridItem {
  flex: 0 0 30%;
}

.gridItemBody {
  margin-top: 30px;
}

.gridItemBody p {
  color: var(--text-blue);
  font-size: var(--size-normal);
}
