.main {
  display: flex;
  justify-content: center;
}

.content {
  composes: prettylink from '~styles/mixins.module.css';
  overflow-x: hidden;
  margin-left: 60px;
  min-height: 100vh;
  border-radius: 8px;
  box-shadow: -36px 20px 40px -38px rgba(200, 210, 220, 0.7);
  padding: 20px 80px 40px 80px;
  width: 100vw;
}

.content strong {
  color: #00284b;
}
