.algolia-autocomplete-right .ds-dropdown-menu {
  margin-right: 10px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor  .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: #f0f5f7;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: currentColor;
  background-color: transparent;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #f0f5f7;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #2E4153;
  font-weight: normal;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
  width: 25%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  width: 75%;
}

.ds-suggestion:not(:first-of-type) .algolia-docsearch-suggestion--category-header {
  margin-top: 18px;
}
