.algolia-autocomplete-right .ds-dropdown-menu {
  margin-right: 10px;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor  .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content {
  background-color: rgb(240, 245, 250);
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: currentColor;
  background-color: rgb(105, 220, 210);
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 rgb(105, 220, 210);
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #2E4153;
  font-weight: normal;
}
