.defaultStyles {
  position: relative;
  margin: 0 10px;
}

.defaultStyles:not(:focus-within) .quickSearchIcon {
  cursor: pointer;
}

.defaultStyles .searchInput {
  background: transparent;
  border-radius: 4px;
  border-style: solid;
  border-width: 2px;
  font-size: 12px;
  height: 34px;
  padding: 10px 12px;
}

.defaultStyles:not(.typeQuickSearch) .searchInput {
  min-width: 200px;
}

.defaultStyles .searchInput:focus {
  outline: none;
}

@media screen and (min-width: 480px) {

  .defaultStyles .searchInput {
    height: 45px;
    font-size: 15px;
  }

}

/* Themes */

.themeLight {
  composes: defaultStyles;
}

.themeLight .searchInput {
  background-color: #2E4153;
  border-color: #2E4153;
  color: #ffffff;
}

.themeLight .quickSearchIcon svg {
  fill: #788CA0;
  stroke: #788CA0;
}

/* Types */

.typeQuickSearch .searchInput {
  border-width: 0;
  margin: 0 0 0 35px;
  transition: all .4s cubic-bezier(0.000, 0.795, 0.495, 1.000);
  width: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.typeQuickSearch .searchInput:not(:focus) {
  opacity: 0;
}

.typeQuickSearch:focus-within .searchInput {
  padding-right: 32px !important;
  width: 300px;
  opacity: 1;
}

.quickSearchIcon {
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  right: 12px;
  top: 10px;
  z-index: 2;
}

.quickSearchIcon svg {
  width: 25px;
  height: 25px;
}

/* Regular Styles */

.main {
  composes: defaultStyles;
}

.main .searchInput {
  border-color: rgb(120, 142, 162);
  transition: 0.2s;
}

.main .searchInput:focus {
  border-color: rgb(105, 220, 210);
}

.main .searchInput::placeholder {
  color: rgba(120, 142, 162, 1);
}

.main .searchInput:focus::placeholder {
  color: rgba(120, 142, 162, 0.4);
}
