.defaultStyles {
  background: transparent;
  border-style: solid;
  border-width: 2px;
  height: 34px;
  padding: 10px;
  font-size: 12px;
  border-radius: 4px;
  -webkit-appearance: none;
}

.defaultStyles:focus {
  outline: none;
}

@media screen and (min-width: 480px) {

  .defaultStyles {
    height: 45px;
    font-size: 15px;
    padding: 10px 12px;
    min-width: 200px;
  }

}

/* Themes */

.themeLight {
  composes: defaultStyles;
  background-color: #2E4153;
  border-color: #2E4153;
  color: #ffffff;
}

/* Types */

.typeQuickSearch {
  
}


.main {
  composes: defaultStyles;
  border-color: rgb(120, 142, 162);
  transition: 0.2s;
}

.main:focus {
  border-color: rgb(105, 220, 210);
}

.main::placeholder {
  color: rgba(120, 142, 162, 1);
  opacity: 1;
  transition: 0.2s;
}

.main:focus::placeholder {
  color: rgba(120, 142, 162, 0.4);
}

