
.main {
  margin: 0 auto;
  max-width: var(--row-width-desktop);
  padding: 90px 0;
}

.contentContainer {
  display: flex;
  margin-top: 80px;
}

.sidebar {
  min-width: min-content;
  padding-right: 20px;
}

.section {
  position: relative;
}

.anchor {
  left: 0;
  position: absolute;
}

.body {
  padding-left: 50px;
}

.divider {
  margin: 120px 0 60px;
  text-align: center;
}

.dividerIcon svg {
  width: 40px;
}
