@value mediumUp from '~styles/breakpoints.css';

.main {
  margin: 10px 10% 16px;
}

.main h3 {
  /* Override `Heading` for mobile */
  font-family: 'Avenir Next Light';
}

.main .docsList {
  display: none;
}

.main[aria-expanded="true"] .docsList {
  display: block;
}

.mobileSectionExpander button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.mobileSectionExpander button * {
  display: inline-block;
}

.expandArrow svg {
  fill: #C8D2DC;
  stroke: #C8D2DC;
  width: 22px;
  height: 22px;
  margin-left: 10px;
  transition: all 0.3s;
}

.main[aria-expanded="true"] .expandArrow {
  transform: rotate(90deg);
}

.sectionTitle {
  display: none;
}

.docsList {
  margin: 8px 0 0 0;
  list-style: none;
}

.docsItem {
  margin: 0;
}

.itemLink {
  cursor: pointer;
  display: block;
  padding: 4px 0;
  overflow: hidden;
  color: #2E4153;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: 0.2s;
}

.itemLink:hover {
  color: #289BDC;
}

.itemLink.active {
  color: #788ca0;
}

:global(h4) .itemLink {
  color: #00284B;
}

@media (mediumUp) {
  .main {
    margin: 0 0 23px 0;
  }

  .expandArrow {
    display: none;
  }

  .main h3 {
    /* Re-instate standard `Heading` style for desktop */
    font-family: 'Avenir Next Demi';
  }

  .main .docsList {
    display: block;
  }

  .mobileSectionExpander {
    display: none;
  }

  .sectionTitle {
    display: block;
  }

  .itemLink {
    padding: 3px 0;
  }

  .docsList,
  ul > .docsItem > ul {
    /* Use of `important` is to override `normalize.css` */
    margin-bottom: 28px !important;
    margin-top: 15px;
  }

  .docsItem > a {
    font-size: .85em;
    font-weight: normal;
  }
}
