
.main {
  padding: 200px 0;
}

.contentContainer {
  margin: 0 auto;
  max-width: 780px;
}

.body {
  color: var(--text-blue);
  display: flex;
  font-size: var(--size-normal);
  justify-content: space-between;
  margin-top: 35px;
}

.body a {
  color: var(--blue-1);
}

.body a:hover {
  text-decoration: underline;
}

.bodyColumn {
  flex: 0 0 47%;
}
