
@value mediumUp from '~styles/breakpoints.css';

.main {
  padding: var(--margin-huge) 0;
}

.contentContainer {
  margin: 0 auto;
  max-width: var(--row-width-desktop);
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 35px;
}

.body a {
  color: var(--blue-1);
}

.body a:hover {
  text-decoration: underline;
}

.bodyColumn {
  flex: 0 0 47%;
}

@media (mediumUp) {

  .contentContainer {
    max-width: 780px;
  }

  .body {
    flex-direction: row;
  }
}
