.container {
  grid-column: 1 / span 4;
}

.header {
  top: 0;
  background: white;
  padding: 20px 5%;
  position: fixed;
  width: 100%;
  z-index: 100;

  margin-top: 60px; /* BUG BOUNTY */

}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.mainNavigation {
  display: block;
  max-height: 0;
  overflow: hidden;
  padding: 0 5%;
}

.header[aria-expanded="true"] {
  box-shadow: 0 0 10px 1px rgb(238, 238, 238);
}

.header[aria-expanded="true"] .mainNavigation {
  max-height: 100vh;
  transition: max-height 300ms linear;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo {
  align-self: flex-start;
  min-width: 120px;
}

.logo img {
  display: block;
  margin: 0 auto;
}

.emptySpace {
  display: none;
}

.navigationButton {
  background: none;
  display:none;
}

.navigationArrow {
  display: none;
}

.navigationContent {
  height: auto;
  padding: 40px 0;
}

.projectLink {
  display: block;
}

.navigationButton,
.projectLink {
  color: rgb(0, 40, 75);
  font-family: "Avenir Next Demi";
  font-size: 18px;
  font-weight: 500;
  padding: 8px 24px;
  transition: 0.2s;
}

.navigation:hover .navigationButton,
.projectLinkActive,
.projectLink:hover {
  color: rgb(105, 220, 210);
  text-decoration: none;
}

.secondaryLinkList {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
}

.secondaryLinkListItem {
  display: inline-block;
  margin: 0 10px;
}

.searchContainer {
  display: none;
}

.hide {
  display: none;
}

.repoIcon svg {
  display: block;
  fill: rgb(0, 40, 75);
  margin: 0 16px;
  transition: 0.2s;
  width: 32px;
}

.repoIcon:hover svg {
  fill: rgb(105, 220, 210);
}

.mobileIcon {
  background: none;
  border: none;
  width: 28px;
  height: 24px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 28px;
  right: 26px;
  z-index: 101;
}

.mobileIcon:hover {
  cursor: pointer;
}

.mobileIconLine {
  left: 0;
  position: absolute;
  width: 100%;
  height: 4px;
  background: rgb(58, 62, 67);
  transition: all 200ms ease-out;
}

.mobileIcon .mobileIconLine:nth-child(1) {
  top: 0;
}

.mobileIcon .mobileIconLine:nth-child(2),
.mobileIcon .mobileIconLine:nth-child(3) {
  top: 10px;
}

.mobileIcon .mobileIconLine:nth-child(4) {
  bottom: 0;
}

.header[aria-expanded="true"] .mobileIcon .mobileIconLine:nth-child(1),
.header[aria-expanded="true"] .mobileIcon .mobileIconLine:nth-child(4) {
  opacity: 0
}

.header[aria-expanded="true"] .mobileIcon .mobileIconLine:nth-child(2) {
  transform: rotate(-45deg);
}

.header[aria-expanded="true"] .mobileIcon .mobileIconLine:nth-child(3) {
  transform: rotate(45deg);
}

.header[aria-expanded="true"] .container {
  max-height: 350px;
  transition: max-height 300ms linear;
  margin: 15px 0;
}

@media screen and (min-width: 850px) {

  .header {
    height: 125px;
    min-height: 125px;
    padding: 20px 5%;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .headerContent {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
  }

  .mainNavigation {
    display: flex;
    justify-content: space-between;
    max-height: none;
    overflow: visible;
    padding: 0;
    transition: none;
  }

  .logo {
    align-self: center;
    margin: 0;
    min-width: 120px;
  }

  .mobileIcon {
    display: none;
  }

  .container,
  .header[aria-expanded="true"] .container {
    display: flex;
    align-items: center;
    width: auto;
    max-height: none;
    overflow: auto;
    margin: 0;
    transition: none;
  }

  .emptySpace {
    display: block;
    width: 100%;
  }

  .navigation {
    display: flex;
    justify-content: center;
  }

  .navigationButton {
    border: none;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 5px;
    text-align: right;
    width: 200px;
  }

  .navigationArrow {
    border: solid black;
    border-color: rgb(0, 40, 75);
    border-width: 3px 0 0 3px;
    display: inline-block;
    margin: auto 10px;
    margin-bottom: 3px;
    padding: 3px;
    transition: 0.2s;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .navigation:hover .navigationArrow {
    border-width: 0 3px 3px 0;
    margin-bottom: 0;
  }

  .navigationContent {
    background-color: #FFF;
    box-shadow: 0px 0px 10px rgba(0, 40, 75, 0.2);
    height: 0;
    margin: 45px 0 0 10px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: 0.2s;
  }

  .navigation:hover .navigationContent {
    height: auto;
    opacity: 1;
    padding: 14px 0;
  }

  .navigation:hover .navigationArrow {
    border-color: rgb(105, 220, 210);
  }

  .secondaryLinkList {
    display: flex;
    margin: 0 10px;
  }

  .repoIcon svg {
    margin: 0 auto;
  }

  .projectLink {
    display: block;
  }

  .searchContainer {
    align-items: center;
    display: flex;
    justify-content: center
  }

}

@media screen and (min-width: 1450px) {

  .wrapper {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 5%;
  }

}
