.main {
  align-self: flex-start;
  margin: 40px auto;
  margin-right: 100px;
}

.main button {
  display: block;
  text-align: left;
  width: 500px;
}

.question {
  font-size: 18px;
  padding: 10px 0;
}

.triangleRight,
.triangleDown {
  display: inline-block;
  height: 12px;
  margin-right: 12px;
  width: 12px;
}

.triangleRight {
  border-bottom: 6px solid transparent;
  border-left: 9px solid #00284B;
  border-top: 6px solid transparent;
}

.triangleDown {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #00284B;
}

.answer {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
}
