@value mediumUp, largeUp from '~styles/breakpoints.css';

.main {
  display: flex;
  justify-content: center;
}

.mainInnerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.content {
  composes: prettylink from '~styles/mixins.module.css';
  overflow-x: hidden;
  padding: 0 5%;
}

@media screen and (mediumUp) {
  .main {
    margin: 0 9.5%;
  }

  .mainInnerContainer {
    flex-direction: row;
  }

  .content {
    padding: 0 0 0 80px;
  }
}

@media (largeUp) {
  .content {
    padding: 0 0 0 130px;
  }
}
