@value mediumUp, largeUp from '~styles/breakpoints.css';

.main {
  display: flex;
  justify-content: center;
}

.mainInnerContainer {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.methodHeading {
  margin-left: -40px;
  margin-top: 90px;
}

.methodHeading code {
  display: block;
  /* important to override code styling for general content */
  padding: 12px 25px 12px 30px !important;
  border-left: inset 4px rgb(105, 220, 210);
}

.methodHeading :global(.md-heading-link) {
  margin-top: 16px;
}

.content {
  composes: prettylink from '~styles/mixins.module.css';
  overflow-x: hidden;
  padding: 0 5%;
}

.content strong {
  color: #00284b;
}

@media screen and (mediumUp) {
  .main {
    margin: 0 9.5%;
  }

  .mainInnerContainer {
    flex-direction: row;
  }

  .content {
    padding: 0 0 0 80px;
  }
}

@media (largeUp) {
  .content {
    padding: 0 0 0 130px;
  }
}
