@value mediumUp, largeUp from '~styles/breakpoints.css';

.main {
  background-color: var(--navy);
  display: flex;
}

.imageContainer {
  align-items: flex-end;
  display: none;
  flex-shrink: 1;
}

.image {
  margin: 0;
}

.contentContainer {
  background-color: var(--colony-black);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.textContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  max-width: var(--row-width-desktop-narrow);
  margin: 0 auto 40px;
  padding: 20px 0 80px;
}

.main .button:hover,
.main .button:active {
  background-color: #086DA6;
  border-color: #086DA6;
  color: #ffffff;
}

.main .button:disabled:hover,
.main .button:disabled:active {
  background-color: #788CA0;
  border-color: #ffffff;
  color: #ffffff;
}

.docsDropdownParent .docsDropdownContainer {
  display: none;
  visibility: hidden;
}

.colonyCreationDisabled {
  width: 420px;
  padding: 15px;
}

@media (mediumUp) {
  .imageContainer {
    display: flex;
  }

  .textContainer {
    padding: 20px 280px 20px 120px;
  }

   .docsDropdownParent .docsDropdownContainer {
    display: block;
  }

  .docsDropdownParent:hover .docsDropdownContainer,
  .docsDropdownParent:focus-within .docsDropdownContainer {
    visibility: visible;
  }
}

@media (largeUp) {
  .main {
    height: 847px;
  }

  .textContainer {
    margin: 0 auto;
  }
}
