@value largeUp from '~styles/breakpoints.css';

.main {
  background-color: var(--navy);
  display: flex;
}

.imageContainer {
  align-items: flex-end;
  display: flex;
  flex-shrink: 0;
}

.image {
  margin: 0;
}

.contentContainer {
  background-color: var(--colony-black);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.textContainer {
  align-items: center;
  display: flex;
  flex-grow: 1;
  padding: 20px 120px;
}

@media (largeUp) {
  .main {
    height: 847px;
  }
}
