@value arrowMargin: 5px;
@value translationDistance: 4px;

.left::before,
.right::after {
  display: inline-block; /* Removes text-decoration for arrow */
  font-size: 14px;
  transition-duration: .2s;
  width: 14px;
  font-family: 'Avenir Next Light';
}

.left::before {
  content: '\2190'; /* Unicode left arrow */
  margin-right: arrowMargin;
}

.right::after {
  content: '\2192'; /* Unicode right arrow */
  margin-left: arrowMargin;
}

.main:hover .left::before {
  transform: translateX(calc(-1 * translationDistance));
}

.main:hover .right::after {
  transform: translateX(translationDistance);
}
