
.main {
  padding: 170px 0 90px;
}

.contentContainer {
  margin: 0 auto;
  max-width: var(--row-width-desktop);
}

.introText {
  width: 55%;
}

.image {
  margin: 95px 0;
}

.gridContainer {
  display: flex;
  justify-content: space-between;
}

.gridItem {
  flex: 0 0 29%;
}
