
.main {
  display: flex;
  flex-direction: column;  
}

.row {
  display: flex;
}

.row > div:first-of-type {
  flex: 0 0 42%;
}

.row > div:nth-of-type(2) {
  flex: 1 0;
}

.row:nth-of-type(2) > div {
  padding-bottom: 130px;
  padding-top: 130px;
}

.imageContainer {
  background-color: var(--navy);
  display: flex;
}

.image {
  align-self: flex-end;
  margin: 0 0 0 auto;
}

.contentContainer {
  align-items: center;
  background-color: var(--blue-3);
  display: flex;
  padding-right: var(--gutter-width);
}

.contentInner {
  padding: 190px 0 200px 144px;
}

.body {
  margin-top: 50px;
  padding-right: 50px;
}

.subTitleContainer {
  background-color: var(--pink-2);
  padding-left: var(--gutter-width);
  padding-right: 70px;
}

.subBodyContainer {
  padding-left: 144px;
  padding-right: var(--gutter-width);
}

.subBodyContainer p {
  margin-bottom: 0;
}

.button {
  margin-top: 50px;
}
