.main a {
  color: #289BDC;
}

.main a:hover {
  text-decoration: underline;
}

.heroBackgroundImage {
  position: absolute;
  width: 100%;
}

.contentContainer {
  padding: 130px 0;
  position: relative;
}

.heroTitle {
  text-align: center;
}

.heroFeature {
  display: flex;
  justify-content: space-between;
  margin: 100px auto 0;
  max-width: 1000px;
}

.heroFeatureItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 43px;
  max-width: 240px;
}
