@value mediumUp from '~styles/breakpoints.css';

.main a {
  color: #289BDC;
}

.main a:hover {
  text-decoration: underline;
}

.heroBackgroundImage {
  position: absolute;
  width: 100%;
}

.contentContainer {
  padding: 130px 0;
  position: relative;
}

.heroTitle {
  text-align: center;
}

.heroFeature {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 100px auto 0;
  max-width: 1000px;
}

.heroFeatureItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 43px;
  width: 75%;
}

.heroFeatureItem + .heroFeatureItem {
  margin-top: 50px;
}

@media (mediumUp) {
  .heroFeature {
    align-items: stretch;
    flex-direction: row;
    justify-content: space-between;
  }

  .heroFeatureItem {
    max-width: 240px;
    width: auto;
  }

  .heroFeatureItem + .heroFeatureItem {
    margin-top: 0;
  }
}
