
.leftBlock {
  align-items: center;
  display: flex;
  justify-content: center;
}

.image svg {
  height: 270px;
}

.rightBlockLink {
  color: var(--blue-1);
  font-size: var(--size-normal);
}

.rightBlockLink:hover {
  text-decoration: underline;
}
