
@value mediumUp from '~styles/breakpoints.css';

.leftBlock {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 40px 0;
  max-width: var(--row-width-desktop);
  margin: 0 auto;
}

.image svg {
  height: 270px;
}

.rightBlock {
  padding: 40px 0;
  max-width: var(--row-width-desktop);
  margin: 0 auto;
}

.rightBlockLink {
  color: var(--blue-1);
  font-size: var(--size-normal);
}

.rightBlockLink:hover {
  text-decoration: underline;
}

@media (mediumUp) {
  .leftBlock {
    margin: 0;
    padding: 100px 60px 100px var(--gutter-width-narrow);
  }

  .rightBlock {
    margin: 0;
    max-width: 100vw;
    padding: 60px var(--gutter-width-narrow) 60px 9vw;
  }
}
