.main {
  background-color: #021C2B;
  padding: 85px 0;
}

.main a {
  color: #ffffff;
}

.footerContent {
  margin: 0 auto;
  max-width: 1200px;
}

.navRow {
  display: flex;
  justify-content: space-between;
}

.logoContainer a:hover {
  color: #ffffff;
}

.navGroup {
  display: flex;
  justify-content: space-evenly;
  font-size: .9rem;
}

.navGroupItem {
  min-width: 158px;
}

.metaNavContainer {
  font-family: 'Avenir Next Light';
  font-size: .9rem;
}
