@value mediumUp from '~styles/breakpoints.css';
@value largeUp from '~styles/breakpoints.css';

.main {
  background-color: #021C2B;
  padding: 85px 0 70px;
}

.main a {
  color: #A4B6C7;
}

.main a:hover {
  color: #788CA0;
}

.footerContent {
  margin: 0 auto;
}

.logo {
  display: block;
  margin-bottom: 20px;
}

.logo svg {
  fill: #ffffff;
  height: 50px;
  width: 50px;
  stroke: #ffffff;
}

.logoContainer a {
  color: #ffffff;
}

.navRow {
  text-align: center;
}

.navGroup {
  font-size: .9rem;
}

.navGroupItem {
  margin-top: 60px;
}

.metaRow {
  margin-top: 100px;
  text-align: center;
}

.metaNavContainer {
  font-family: 'Avenir Next Light';
  font-size: .9rem;
}

.metaNavLink + .metaNavLink {
  margin-left: 45px;
}

.socialIconContainer {
  margin-top: 40px;
}

.socialIcon {
  display: inline-block;
  height: 35px;
  margin-left: 22px;
  width: 35px;
}

.socialIcon svg {
  fill: #A4B6C7;
  height: 35px;
  width: 35px;
}

a:hover .socialIcon svg {
  fill: #788CA0;
}

@media (mediumUp) {
  .main {
    display: flex;
    justify-content: center;
  }

  .footerContent {
    margin: 0 9.5%;
    max-width: 1200px;
    width: 100%;
  }

  .navRow {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .navGroup {
    display: flex;
    justify-content: space-evenly;
  }

  .navGroupItem {
    margin-top: 0;
  }

  .navGroupItem + .navGroupItem {
    margin-left: 85px;
  }

  .metaRow {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    text-align: left;
  }

  .socialIconContainer {
    margin-top: 0;
  }
}

@media (largeUp) {
  .navGroupItem + .navGroupItem {
    margin-left: 115px;
  }
}
