
.main {
  align-items: center;
  background-color: var(--blue-3);
  display: flex;
  padding: 60px 100px;
}

.heading {
  flex: 0 0 50%;
  padding-right: 100px;
}

.form {
  flex-grow: 1;
  padding-left: 22px;
}
