/* @TODO: Configure webpack/postcss to automatically provide variables globally */
.navigationContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: var(--row-width-desktop);
  margin: 0 auto;
}

.logo svg {
  height: 30px;
}

.navLinkBase {
  /* This class *only* intended for composition. Do not use directly. */
  border-bottom: 2px solid transparent;
  display: inline-block;
  line-height: 72px;
}

.navLinkBase + .navLinkBase {
  margin-left: 55px;
}

.navLink {
  composes: navLinkBase;
}

.navLinkAlt {
  composes: navLinkBase;
  color: var(--blue-1);
}

.navLinkAlt:not(.navDropdownParent):hover,
.navLinkAlt.active {
  border-bottom-color: var(--blue-1);
}

/**
 * Themes
 **/

.themeLight {
  background-color: #fff;
}

.themeLight .navLink {
  color: var(--navy);
}

.themeLight .navLink:not(.navDropdownParent):hover,
.themeLight .navLink.active {
  border-bottom-color: var(--navy);
}

.themeTransparent .navLink {
  color: var(--colony-white);
}

.themeTransparent .navLink:not(.navDropdownParent):hover,
.themeTransparent .navLink.active {
  border-bottom-color: var(--colony-white);
}

.themeScrolled {
  composes: themeLight;
  animation: slide-down 0.15s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  border-bottom: 1px solid var(--grey-3);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

 /**
 * Nav Themes
 **/

.navThemeDark .navLink {
  color: var(--navy);
}

.navThemeDark .navLink:not(.navDropdownParent):hover,
.navThemeDark .navLink.active {
  border-bottom-color: var(---navy);
}

.navThemeLight .navLink {
  color: var(--colony-white);
}


.main {
  /* default to `light` theme */
  composes: themeLight navThemeDark;
}

/**
* Animations
**/

@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
