
.dropdownParent {
  display: block;
  line-height: normal;
}

.dropdownParentLink .dropdownContainer {
  /* !important to override popper styles */
  top: 20px !important;
  visibility: hidden;
}

.dropdownParentLink:hover .dropdownContainer {
  visibility: visible;
}
