
.dropdownParent {
  display: block;
  line-height: normal;
}

.dropdownParentLink .dropdownContainer {
  visibility: hidden;
}

.dropdownParentLink:hover .dropdownContainer,
.dropdownParentLink:focus-within .dropdownContainer {
  visibility: visible;
}
