@value leftDistribution: .3735;
@value leftWidth: calc(100% * leftDistribution);
@value leftRowPartial: calc(var(--row-width-desktop) * calc(1 / 3));
@value rightRowPartial: calc(var(--row-width-desktop) - leftRowPartial);

.main {
  display: flex;
}

.leftBlock,
.rightBlock {
  display: flex;
}

.leftBlock {
  background-color: var(--navy);
  flex: 0 0 leftWidth;
  justify-content: center;
}

.leftBlockAlignment {
  align-items: center;
  display: flex;
  justify-content: center;
  width: leftRowPartial;
}

.rightBlock {
  background-color: var(--pink-2);
  flex: 1;
  justify-content: flex-start;
}

.rightBlockAlignment {
  padding: 120px 135px;
  width: rightRowPartial; 
}
