
@value mediumUp, largeUp from '~styles/breakpoints.css';

@value leftDistribution: .3735;
@value leftWidth: calc(100% * leftDistribution);

.main {
  display: flex;
  flex-direction: column;
}

.leftBlock,
.rightBlock {
  display: flex;
}

.leftBlock {
  background-color: var(--navy);
  flex: 0 0 calc(100% * leftDistribution);
  justify-content: center;
  order: 2;
}

.leftBlockAlignment {
  align-items: center;
  display: flex;
  justify-content: center;
  width: calc(var(--row-width-desktop) * (1 / 3));
  padding: 60px var(--gutter-width);
}

.rightBlock {
  background-color: var(--pink-2);
  flex: 0 1 auto;
  justify-content: flex-start;
  padding: 60px var(--gutter-width);
}

@media (mediumUp) {
  .main {
    flex-direction: row;
  }

  .rightBlock {
    order: 2;
  }

  .leftBlockAlignment {
    padding: 0;
  }

  .rightBlockAlignment {
    padding: 100px 75px;
  }
}

@media (largeUp) {
  .rightBlockAlignment {
    padding: 120px 135px;
  }
}
