
@value mediumUp from '~styles/breakpoints.css';

@value leftDistribution: .3735;
@value leftWidth: calc(100% * leftDistribution);
@value leftRowPartial: calc(var(--row-width-desktop) * calc(1 / 3));
@value rightRowPartial: calc(var(--row-width-desktop) - leftRowPartial);

.main {
  display: flex;
  flex-direction: column;
}

.leftBlock,
.rightBlock {
  display: flex;
}

.leftBlock {
  background-color: var(--navy);
  flex: 0 0 leftWidth;
  justify-content: center;
  order: 2;
}

.leftBlockAlignment {
  align-items: center;
  display: flex;
  justify-content: center;
  width: leftRowPartial;
  padding: 60px var(--gutter-width);
}

.rightBlock {
  background-color: var(--pink-2);
  flex: 1;
  justify-content: flex-start;
  padding: 60px var(--gutter-width);
}

@media (mediumUp) {
  .main {
    flex-direction: row;
  }

  .rightBlock {
    order: 2;
  }

  .leftBlockAlignment {
    padding: 0;
  }

  .rightBlockAlignment {
    padding: 120px 135px;
    width: rightRowPartial; 
  }
}
