.metaContainer {
  padding: 150px 0;
  text-align: center;
}

.searchContainer {
  margin-top: 58px;
}

.tutorialsContainer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
}

.tutorialList {
  padding: 130px 0 110px;
}

.tutorialListItem {
  border-bottom: 1px solid #C8D2DC;
  color: #2E4153;
  font-size: 16px;
}
