.hide {
  display: none;
}

.footer {
  background: rgb(0, 40, 75);
  grid-column: 1 / span 4;
  padding: 40px 0 0 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 30px 5%;
}

.logo {
  display: block;
  margin: 0 auto;
  width: 110px;
}

.logoTagline {
  color: rgb(255, 255, 255);
  font-family: "Avenir Next Demi";
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
  padding: 20px 0 40px 0;
  text-align: center;
  width: 160px;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.socials {
  margin: 0;
  text-align: center;
  width: 100%;
}

.socialItem {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.socialLink {
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  border-radius: 25px;
}

.socialIcon:hover svg, .socialIcon:focus svg {
  fill: rgb(105, 220, 210);
}

.socialIcon svg {
  width: 100%;
  height: 100%;
  background: rgb(0, 40, 75);
  color: rgb(0, 40, 75);
  fill: rgb(255, 255, 255);
  transition: 0.2s;
}

.nav {
  padding: 40px 0;
  text-align: center;
  width: 100%;
}

.navLink {
  display: block;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: "Avenir Next Light";
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  transition: 0.2s;
}

.navLink:hover, .navLink:focus  {
  color: rgb(105, 220, 210);
  text-decoration: none;
}

@media screen and (min-width: 870px) {

  .footer {
    padding: 40px 0;
  }

  .section {
    align-items: flex-start;
    flex-direction: row;
  }

  .nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: right;
    max-width: 160px;
  }

  .logo {
    margin: 0;
  }

  .logoTagline {
    padding: 40px 0;
    text-align: left;
  }

}

@media screen and (min-width: 1450px) {

  .wrapper {
    max-width: 1450px;
    margin: 0 auto;
  }

}
